.rtl {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.rtl .padding-right:nth-child(1) {
  order: 1;
}
.rtl .padding-right:nth-child(2) {
  order: 3;
}
.rtl .padding-right:nth-child(3) {
  order: 2;
}
.rtl .content-left-side {
  order: 2;
}
.rtl .content-right-side {
  order: 1;
}